<% content_for :title, t('.title') %>
<h3><%= t('.title') %></h3>

<%= link_to 'Paid invoices report', reports_invoices_paid_path(format: :pdf), class: 'btn btn-outline-primary btn-sm me-1' %>
<%= link_to 'Monthly cash flow report', reports_cash_flows_monthly_path(format: :html), class: 'btn btn-outline-primary btn-sm me-1' %>