<% if notice %>
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill"></i>
    <div>
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <div class="container">
      <% if alert.is_a?(Array) %>
        <%= t('errors.template.body') %>
        <div class="container">
          <% alert.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </div>
      <% else %>
        <%= alert %>
      <% end %>
    </div>
  </div>
<% end %>